<div class="container my-5">
    <h1 class="my-45"><b>Employee Details : {{employee.id}}</b></h1>
        <h2>Created with love by <a href="https://github.com/Ajinkya9767" target="_blank">Ajinkya Shelke</a></h2>
    
    <div class="container2">
        <table>
            <tr class="id">
                <td>Id</td>
                <td class="dot">:</td>
                <td>{{employee.id}}</td>
            </tr>
            <tr class="name">
                <td>Name</td>
                <td class="dot">:</td>
                <td>{{employee.name}}</td>
            </tr>
            <tr class="age">
                <td>Age</td>
                <td class="dot">:</td>
                <td>{{employee.age}}</td>
            </tr>
            <tr class="city">
                <td>City</td>
                <td class="dot">:</td>
                <td>{{employee.city}}</td>
            </tr>
            <tr class="email">
                <td>Email</td>
                <td class="dot">:</td>
                <td>{{employee.email}}</td>
            </tr>
        </table>
    </div>
</div>